	<div id="header-kaizendo">
		<h1>
		</h1>
		<!-- ul id="menu_global">
			<li id="about"><span><a href="/">About</a></span></li>
			<li id="contribute"><span><a href="/contribute">Contribute</a></span></li>

		</ul -->

[%template.title%]

	</div><!-- end #header-kaizendo -->
